body{
    background-color: #f4f4f2;
}
.navbar{
    background-color: #f4f4f2;
}
.navbar + div {
    border-top: 1px solid #ccc;
}
.general-div {
    width: 100%; 
    background-color: #f4f4f2; 
    padding: 20px; 
}

.narrow-div {
    max-width: 1200px; 
    margin: 0 auto; 
}

.bar {
    display: flex; 
}

.menu-item {
    flex: 1 0 10%; 
    padding: 5px; 
    text-align: center; 
    margin: 2px;
    cursor: pointer; 
    background-color: #f4f4f2; 
}
.slider {
    display: flex;
    transition: transform 0.5s ease;
}

.navbar-center {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.form-inline {
    display: flex;
    align-items: center;
}

.card-title, .card-text {
    color: black;
}
.card-link:hover .card-title, 
.card-link:hover .card-text, 
.card-link:focus .card-title, 
.card-link:focus .card-text {
    color: black;
}

.dropdown-menu {
    max-height: 200px; 
    overflow-y: auto;  
    right: 0; 
    left: auto; 
    transform: translateX(30%); 
    white-space: nowrap; 
}


@media (max-width: 767px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-brand {
        margin-bottom: 10px;
    }

    .navbar-toggler {
        align-self: flex-end;
    }

    .navbar-center {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }

    .form-inline {
        width: 100%;
    }

    .form-control {
        width: 80%;
    }

    .container {
        padding: 0 15px;
    }

    h2 {
        font-size: 24px;
        text-align: center;
        margin-top: 10px;
    }

    img {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }

    .content {
        font-size: 16px;
        text-align: justify;
    }

    .other-news {
        margin-top: 20px;
    }

    .other-news .card {
        margin-bottom: 20px;
    }

    .other-news img {
        height: auto;
    }

    .card-form {
        width: 100%;
    }

    .navbar-nav {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .navbar-nav .nav-item {
        margin-bottom: 10px;
    }

    .navbar-nav .dropdown-menu {
        width: 100%;
        left: auto;
        right: 0;
    }

    .modal-dialog {
        max-width: 100%;
        margin: 0;
    }

    .modal-content {
        border-radius: 0;
    }

    .modal-footer {
        display: flex;
        justify-content: space-between;
    }

    .fixed-buttons {
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
    }

    .fixed-buttons button {
        width: 45px;
        height: 45px;
    }

    .fixed-buttons form {
        width: auto;
    }

    .fixed-buttons form, .fixed-buttons button {
        margin: 0 5px;
    }

    .fixed-buttons button:last-child {
        margin-right: 0;
    }

    .fixed-buttons {
        margin-top: 20px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .fixed-buttons form, .fixed-buttons button {
        margin: 0 5px;
    }

    .fixed-buttons button:last-child {
        margin-right: 0;
    }

    .action-buttons {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }
}
